<p id="notice"><%= notice %></p>

<div class="row">
  <h2>Electronic Health Record</h2>

  <p>
    <strong>Doctor Visits</strong><br />
    <strong>Physician's Name</strong>
    <% current_user.visits.each do |v| %>
    <tr>
      <%= v.physician_first %>
      <%= v.physician_last %>
      <% end %>
    </tr>
  </p>
</div>
