<div class="row">
  <div class="row">
    <div class="col m3 offset-m2 s3">
      <p>
        <%= link_to image_tag("id_card.jpeg"), med_coverage_path(current_user), class: "circle responsive-img" %>
        <strong>Benefit Information</strong>
      </p>
    </div>
    <div class="col m3 s3">
      <p>
        <%= link_to image_tag("EHR.jpeg"), visit_path(current_user) %>
        <strong>Electronic Health Record</strong>
      </p>
    </div>
    <div class="col m3 s3">
      <p>
        <%= link_to image_tag("graph.jpeg"), root_path %>
        <strong>Health Data</strong>
      </p>
    </div>
  </div>
</div
