<div class="row">
  <div class="row">
    <div class="col m3 offset-m2 s3">
      <p>
        <img src="assets/id_card.jpeg" alt="" class="circle responsive-img">
        <strong>Benefit Information</strong>
      </p>
    </div>
    <div class="col m3 s3">
      <p>
        <img src="assets/EHR.jpeg" alt="" class="circle responsive-img">
        <strong>Electronic Health Record</strong>
      </p>
    </div>
    <div class="col m3 s3">
      <p>
        <img src="assets/graph.jpeg" alt="" class="circle responsive-img">
        <strong>Health Data</strong>
      </p>
    </div>
  </div>
</div
