<div class="row">
  <!-- <div class="col m4 offset-m4 s12">
    <h1>Homepage</h1>
  </div> -->

  <div class="parallax-container">
    <div class="parallax"><%= image_tag "boardwalk.jpeg" %></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Homepage</h2>
      <p class="grey-text text-darken-3 lighten-3">Welcome to HealthCloud! We're the first of its kind platform that takes away the obstacles you encounter with keeping up with all your healthcare paperwork.</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="assets/boardwalk.jpeg"></div>
  </div>

</div>
