 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 @import 'materialize';

 .highlight {
   background-color: #EF5B24;
 }

 .dashboard {
   padding-top: 180px;
 }

img {
  max-height: 100px;
  display: block;
}

.dashcol {
  text-align: left;
  font-size: 1rem;
  padding: 50px 100px;
}

.ehr {
  padding-top: 100px
}
