 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 @import 'materialize';

.homepage {
  &.london { background-image: image-url("london-life.jpg"); }

 	background-size: cover;
  color: white;
}

.non-homepage {
  // background-image: url(../images/crossword.jpg);
  background-repeat: repeat;
  background: image-url('crossword.png');
}

#homepage-h1 {
  padding-top: 150px;
}

 .highlight {
   background-color: #EF5B24;
 }

 .dashboard {
   padding-top: 180px;
   background: image-url("crossword.jpg");
 }

img {
  max-height: 100px;
  display: block;
}

.dashcol {
  text-align: left;
  font-weight: bold;
  padding: 50px 100px;
}

.healthdash {
  padding: 30px 100px;
}

section.white {
  background: white;
  padding: 100px;
}

.modal {
  max-height: 85%;
  max-width: 85%;
  left:0;
  right:0;
  top:0;
  bottom:100;
  margin:auto;
}

#new-rx {
  padding: 0px 70px;
}

#today-steps {
  padding: 0px 25px;
}

#today-sleeps {
  padding: 0px 30px;
}

.health-data-heading {
  padding-left: 10px;
}

#ehr-img {
  margin-left: 40px;
}

.dash-caption {
  padding-top: 10px;
}

#tos-modal {
  margin-top: 250px;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.card {
  border-radius: 15px;
}

.card .card-action a {
  color: #113321;
}

.card .card-action a:hover {
  color: #009688;
}

a {
  color: #113321;
}

#most-recent-rx-h4 {
  padding-left: 110px;
  padding-top:  5px;
}

#most-recent-dr-h4 {
  padding-left: 70px;
  padding-top:  5px;
}

.rx-sched-label {
  margin-right: 15px;
}

[type="checkbox"] + label {
  padding-left: 20px;
}

nav .brand-logo {
  padding-left: 30px;
}

nav ul a {
  padding-left:  30px;
  padding-right: 30px;
}

.benefit-card {
  padding-top: 60px;
}

.new_med_coverage {
  background-color: white;
  color: #888888;
  padding: 15px;
  border-radius: 15px;
  h4 {
    color: #19A69A;
  }
  input[type=date]{
    color: #D1D1D1
  }
}

.new_user{
  background-color: white;
  color: #888888;
  padding: 15px;
  border-radius: 15px;
  h3 {
    color: #19A69A;
  }
  input[type=date]{
    color:#D1D1D1
  }
}

.benefit-summary-title {
  border-bottom: 3px white dotted;
  padding-bottom: 15px;
}


.page-footer.fixed {
  opacity: 0.4;
  transition: 0.5s all;
  &:hover { opacity: 1; transition: 0.5s all; }
  position: fixed;
  width: 100%;
  bottom: 0;
}

p.dash-captions {
  padding-left: 8px;
}
