 @import "materialize/components/color";
 $primary-color: color("blue", "lighten-2") !default;
 @import 'materialize';

 .highlight {
   background-color: #EF5B24;
 }

 .dashboard {
   padding-top: 180px;
 }

img {
  max-height: 100px;
  display: block;
}

.dashcol {
  text-align: left;
  font-weight: bold;
  padding: 50px 100px;
}

.healthdash {
  padding: 30px 100px;
}

section.white {
  background: white;
  padding: 100px;
}

.modal {
  max-height: 85%;
  max-width: 85%;
  left:0;
  right:0;
  top:0;
  bottom:100;
  margin:auto;
}

#new-rx {
  padding: 0px 70px;
}

#new-sleep {
  padding: 0px 30px;
}

#ehr-img {
  margin-left: 40px;
}

.dash-caption {
  padding-top: 10px;
}

#tos-modal {
  margin-top: 250px;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.card .card-action a {
  color: #113321;
}

.card .card-action a:hover {
  color: #009688;
}

a {
  color: #113321;
}

#most-recent-rx-h4 {
  padding-left: 35px;
}
